.heading-primary {
  font-size: 1.5rem;
  color: #fff;
}
.heading-secondary {
  font-size: 1.5rem;
  font-family: "poppins";
}

.heading-tertially {
  font-size: 1.2rem;
  font-weight: 500;
  font-family: "poppins";
  margin-top: 1rem;
  text-transform: capitalize;
}
